@layer global {
  body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: normal;

    background-color: #1B262C;
    color: #FFF;
    
    padding-block: 20px;
    padding-inline: 20px;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 1.625;
    font-weight: 500;
  }

  a:link,
  a:visited {
    font-size: 1.5625rem;
    font-weight: 300;
  }

  a:hover,
  a:active {
    /* font-weight: 500; */
  }

  p {
    font-size: 25px;
    font-weight: 400;
    line-height: 2.6;
  }
}